
<!-- *ngFor to display satellite data in the table -->
<table>
    
    <tr class="header-row" >
        <th (click)="sort('name')" class="sortable">name</th>
        <th (click)="sort('type')" class="sortable">type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <!-- added style directive to conditionally highlight satellite type -->
    <tr class="data-row" *ngFor ="let dataRow of satellites">
        <td>{{dataRow.name}}</td>
        <td [class.warning]="dataRow.isSpaceDebris()">
        {{dataRow.type}}</td>
        <td>{{dataRow.operational}}</td>
        <td>{{dataRow.orbitType}}</td>
        <td>{{dataRow.launchDate}}</td>
    </tr> 
</table>






